<nb-card accent="danger" *ngIf ="danger" ngFor="">
  <nb-card-header><button nbButton outline status="primary"  (click)="close()">Fichar detalhes</button></nb-card-header>
    <nb-card-header>Detalhes do Efectivo <strong><h>>>>></h> {{idefecttest.nome}} {{idefecttest.apelido}}</strong>
    </nb-card-header>
    <nb-card-body>
      <nb-accordion accent="danger">
        <nb-accordion-item>
          <nb-accordion-item-header>
           Dados Geral
          </nb-accordion-item-header>
  
           <!-- Dados Biometrico-->
          <nb-accordion-item-body>
            <div class="card-row">
              <div class="card-col">
                <nb-card size="tiny">
                  <nb-card-header>Dados Biometrico</nb-card-header>
  
                  <nb-card nbSpinnerSize="small">
                    <nb-card-body>
                      <div class="row">
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputFirstName">Fotografia </label>
                            <input type="text" class="form-control" value="{{idefecttest.fotografia}}" disabled/>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputLastName">Assinatura</label>
                            <input type="text" class="form-control" value="{{idefecttest.assinatura}}" disabled />
                          </div>
                        </div>
                     
                      </div>
                 
              
                    </nb-card-body>
                  </nb-card>
                </nb-card>
  
                <nb-card size="tiny">
                  <nb-card-header>Dados Profissionais</nb-card-header>
               
              
                    <nb-card nbSpinnerSize="small">
                      <nb-card-body>
                        <div class="row">
                          <div class="col-sm-5">
                            <div class="form-group">
                              <label for="inputFirstName">Nº ID da PN </label>
                              <input type="text" class="form-control" value="PN{{idefecttest.id_pn}}" style="width: 10em;" disabled/>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="inputLastName">Posto</label>
                              <input type="text" class="form-control" value="{{idefecttest.posto}}" style="width: 15em;" disabled />
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-group">
                              <label for="inputBirthdayDate">Função</label>
                              <input type="text" class="form-control" value="{{idefecttest.funcao}}" style="width: 13em;" disabled/>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="inputBirthdayDate">Nº Arma</label>
                              <input type="text" class="form-control" value="{{idefecttest.n_arma}}" style="width: 10em;" disabled/>
                            </div>
                          </div>
                        </div>
                   
                
                      </nb-card-body>
                    </nb-card>
          
            
                </nb-card>
  
                
              </div>
  
              <div class="card-col">
                <nb-card size="medium">
                  <nb-card-header>Dados Biografico</nb-card-header>
                  <nb-card nbSpinnerSize="small">
                    <nb-card-body>
                      <div class="row">
                        <div class="col-sm-7">
                          <div class="form-group">
                            <label for="inputFirstName">Nome Completo </label>
                            <input type="text" class="form-control" value="{{idefecttest.nome}} {{idefecttest.apelido}} " style="width: 35em;" disabled/>
                          </div>
                        </div>
                        <br>
                        <div class="col-sm-7">
                          <div class="form-group">
                            <label for="inputLastName">Filiação</label>
                            <input type="text" class="form-control" value="{{idefecttest.filiacao}}" style="width: 35em;" disabled />
                          </div>
                        </div>
                        <div class="col-sm-7">
                          <div class="form-group">
                            <label for="inputLastName">Morada</label>
                            <input type="text" class="form-control" value="{{idefecttest.morada}}" disabled />
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Sexo</label>
                            <input type="text" class="form-control" value="{{idefecttest.sexo}}"  style="width: 12em;" disabled/>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Nº CNI</label>
                            <input type="text" class="form-control" value="{{idefecttest.cni}}" disabled/>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Nº NIF</label>
                            <input type="text" class="form-control" value="{{idefecttest.nif}}" disabled/>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Data de Nascimento</label>
                            <input type="text" class="form-control"  value="{{idefecttest.data_nasc | date: 'dd/MM/yyyy'}}" disabled/>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Idade</label>
                            <input type="text" class="form-control" value="{{idefecttest.idade}} Anos " disabled/>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Contacto</label>
                            <input type="text" class="form-control" value="{{idefecttest.contacto}}" disabled/>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Email</label>
                            <input type="text" class="form-control" value="{{idefecttest.email}}" style="width: 18em;" disabled/>
                          </div>
                        </div>
                      </div>
                 
              
                    </nb-card-body>
                  </nb-card>
                </nb-card>
              </div>
            </div>  
          </nb-accordion-item-body>
        </nb-accordion-item>
    
        <nb-accordion-item>
          <nb-accordion-item-header>
           Armamento
          </nb-accordion-item-header>
  
           <!-- Dados de Efectivos-->
          <nb-accordion-item-body>
            <div class="card-row">
             
              <div class="card-col">
                <nb-card size="medium">
                  <nb-card-header>Dados da Arma</nb-card-header>
                  <nb-card nbSpinnerSize="small">
                    <nb-card-body>
                      <div class="row">
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputFirstName">Numero de Arma</label>
                            <input type="number" class="form-control" value="{{idefecttest.n_arma}}" style="width: 15em;" disabled/>
    </div>
                        </div>
                      
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputLastName">Marca</label>
                            <input type="text" class="form-control" value="{{idefecttest.marca}}" style="width: 15em;" disabled />
   </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputLastName">Modelo</label>
                            <input type="text" class="form-control" value="{{idefecttest.modelo}}" style="width: 25em;" disabled />
   </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Calibre</label>
                            <input type="text" class="form-control" value="{{idefecttest.calibre}}"  style="width: 15em;" disabled/>
   </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Nº de Carregador</label>
                            <input type="number" class="form-control" value="{{idefecttest.n_carregador}}" disabled/>
   </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Nº de Munições</label>
                            <input type="number" class="form-control" value="{{idefecttest.n_municoes}}" disabled/>
   </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Estado da Arma</label>
                            <input type="text" class="form-control" value="{{idefecttest.estado_arma}}" disabled/>
   </div>
                        </div>
  
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Data de inspeção</label>
                            <input type="text" class="form-control" value="{{idefecttest.data_inspeArma | date: 'dd/MM/yyyy'}}" disabled/>
   </div>
                        </div>
                        <div class="col-sm-7">
                          <div class="form-group">
                            <label for="inputBirthdayDate">Observações</label>
                            <input type="text" class="form-control" value="{{idefecttest.obs}}" disabled/>
   </div>
                        </div>
                      
                      </div>
                 
              
                    </nb-card-body>
                  </nb-card>
                </nb-card>
              </div>
            </div>  
          </nb-accordion-item-body>
        </nb-accordion-item>
       <!-- 
        <nb-accordion-item>
          <nb-accordion-item-header>
          Ferias
          </nb-accordion-item-header>
          <nb-accordion-item-body>  
            <div class="card-row">
             
              <div class="card-col">
                <nb-card size="medium">
                  <nb-card-header>Dados da Feria</nb-card-header>
                  <nb-card nbSpinnerSize="small">
                    <nb-card-body>
                      <div class="row">
                        <table class="table">
                          <thead>
                              <tr>
                                  <th>Inico da Feria</th>
                                  <th>Fim da Feria</th>
                                  <th>Gozado em </th>
                                  <th>Entrega Arma</th>
                                  <th>Nº Oficio</th>
                                  <th>Despacha Por</th>
                                 
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>{{ideferiaAgente.data_inicio}}</td>
                                  <td>{{ideferiaAgente.data_fim}}</td>
                                  <td>{{ideferiaAgente.local_feria}} </td>
                                  <td>{{ideferiaAgente.entrega_arma}} </td>
                                  <td>{{ideferiaAgente.n_oficio}}</td>
                                  <td>{{ideferiaAgente.despacho}} </td>
                                 
                              </tr>
                          </tbody>
                      </table>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </nb-card>
              </div>
            </div> 
          </nb-accordion-item-body>
        </nb-accordion-item>
      -->
        <nb-accordion-item>
          <nb-accordion-item-header>
            Caderneta
          </nb-accordion-item-header>
          <nb-accordion-item-body>
           <strong>Infração:</strong> 
           <strong>valor de Coima:</strong> 
           <strong>Veiculo matricula:</strong> 
           <strong>Obs</strong>
          </nb-accordion-item-body>
        </nb-accordion-item>
  
        <nb-accordion-item>
          <nb-accordion-item-header>
           Remunerado
          </nb-accordion-item-header>
          <nb-accordion-item-body>  
            <strong>Data de envio:</strong>
            <strong>Numero de Oficio:</strong>
            <strong>Destino:</strong> 
            <strong>Enviodo Por</strong> 
            <strong>Anexo de Nota</strong> 
  
            <strong>Entregado no dia:</strong> 
            <strong>Entregado à:</strong>
            <strong>Entregado por:</strong> 
            <strong>Anexo de guia</strong> 
           
  
          </nb-accordion-item-body>
        </nb-accordion-item>
  
        <nb-accordion-item>
          <nb-accordion-item-header>
            Historico
          </nb-accordion-item-header>
          <nb-accordion-item-body>  
           
          </nb-accordion-item-body>
        </nb-accordion-item>
        
      </nb-accordion>
    </nb-card-body>
  </nb-card>
  
  
  <nb-card accent="info">
      <nb-card-header> Cadastros dos Efectivos Esquadra Trânsito</nb-card-header>  
    
      <nb-card-body>
          <button style="margin-bottom: 1rem;" nbButton status="primary" (click)="openModalEfect(null)">Novo Cadastro</button>   
          <ng2-smart-table #ng2TbEfectivos 
          [settings]="tbEfectConfig"
          (userRowSelect)="onEfectSelect($event)"
          [source]="source"
          (edit)="openModalEdiEfect($event)" 
          (delete)="openModalExclusion($event)"  
           >          
          </ng2-smart-table>
      </nb-card-body>
   </nb-card>
  
  
   <ng-template #dialogDelete let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>ELIMINAR EFECTIVO</nb-card-header>
      <nb-card-body>
        Tens certeza que deseja excluir efectivo <span style="font-weight: bold"> {{ data }}</span>  ?  
      </nb-card-body>
      <nb-card-footer>
        <button nbButton  status="danger" (click)="ref.close()">Cancelar</button>
        <button class="btn-action-modal" nbButton status="primary" (click)="btnDelete($event);">Excluir</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  
  
   <ng-template #dialogEfectivo >
   <nb-card style="width: 50em" accent="danger">
    <nb-card-header class="titulo"  >  {{ findOperation() }} {{data}}</nb-card-header>  
    <nb-card-body >
      <nb-stepper #stepper>
                           <!-- Dados Pessoais-->
        <nb-step [stepControl]="firstForm" label="Dados Pessoais(DP)">
          <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
  
            <label for="inputFirstName">Nome </label> 
            <div class="input-group" >
              <input nbInput type="text" placeholder="Introduza o Nome (obrigatório)" class="form-control" id = "nome" formControlName="nome" 
                    >        
            </div>
            <br>
            <label for="inputFirstName">Apelido </label>        
            <div class="input-group">
              <input nbInput type="text" placeholder="Introduza o apelido (obrigatório)" class="form-control" id = "apelido" formControlName="apelido"
                     >
            </div>
            <br>
            <label for="inputFirstName">Data de Nascimento </label>        
            <div class="input-group">
              <input nbInput type="date" placeholder="Introduza o data de nascimento (obrigatório)" class="form-control" id="data_nasc" formControlName="data_nasc"
              >
            </div>
            <br>
            <label for="inputFirstName">Filiação </label>
            <div class="input-group">
              <input nbInput type="text" placeholder="Introduza Nome do Pai e da Mãe" class="form-control" id="filiacao" formControlName="filiacao"
                     >
            </div>
            <br>
            <button class="btn-action-modal" nbButton status="primary" nbStepperNext  [disabled]="!firstForm.valid">Seguinte</button>
          </form>
  
        </nb-step>
      
                            <!-- Dados Pessoais Continuaçãol--> 
        <nb-step [stepControl]="firstFormCont" label="DP(Continuação)">
             <form [formGroup]="firstFormCont" (ngSubmit)="onFirstContSubmit()" class="step-container">
                      
                   <label for="inputFirstName">Numero de NIF </label>
                   <div class="input-group">
                  <input nbInput type="number" placeholder="Introduza o nº de nif (obrigatório)" class="form-control" id="nif" formControlName="nif"
                                         >
              </div>
                   <br>
                    <label for="inputFirstName">Morada </label>
                     <div class="input-group">
                     <input nbInput type="text" placeholder="Introduza morada (obrigatório)" class="form-control" id="morada" formControlName="morada"
                                         >
                     </div>
                 <br>
                     <label for="inputFirstName">Sexo </label>
                     <div class="input-group">
                    <!--<input nbInput type="text" placeholder="Introduza o sexo(obrigatório)" class="form-control" id="sexo" formControlName="sexo" > -->
                    <nb-select placeholder="Selecione Sexo" [(selected)]="selectedItem"  style="width: 22em" id="sexo" formControlName="sexo">
                      <nb-option [value]="descricao.value" *ngFor="let descricao of selectSexo"> {{descricao.sexo}}</nb-option>
                    </nb-select>
                     </div>
                     <br>
                    <label for="inputFirstName">Numero de CNI</label>
                 <div class="input-group">
                   <input nbInput type="text" placeholder="Introduza o nº de CNI (obrigatório)" class="form-control" id="cni" formControlName="cni"
                                        >
                   </div>
                  <br>
                   <nb-card-footer>
                    <button nbButton  status="danger" nbStepperPrevious >Voltar</button>
                    <button class="btn-action-modal" nbButton status="primary" nbStepperNext>Seguinte</button>
                     </nb-card-footer>
               </form>
                      
        </nb-step>
     
                            <!-- Dados Profissional-->
        <nb-step [stepControl]="secondForm" label="Dados profissional ">
          <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
  
            <label for="inputFirstName">Nº Identficação do Efectivo</label>
            <div class="input-group">
              <input nbInput type="number" placeholder="Introduza o nº de identificação de PN (obrigatório)" class="form-control" id ="id_pn" formControlName="id_pn"
                    >
            </div>
            <br>
            <label for="inputFirstName">Posto</label>
            <div class="input-group">
             <!-- <input nbInput type="text" placeholder="Introduza o seu posto (obrigatório)" class="form-control" id ="posto" formControlName="posto"> -->
                    <nb-select placeholder="Selecione Posto"  style="width: 22em" id="posto" formControlName="posto">
                      <nb-option [value]="descricao.value" *ngFor="let descricao of selectPosto"> {{descricao.postos}}</nb-option>
                    </nb-select>
            </div>
            <br>
            <label for="inputFirstName">Função</label>
            <div class="input-group">
             <!-- <input nbInput type="text" placeholder="Introduza o seu função (obrigatório)" class="form-control" id ="funcao" formControlName="funcao" > -->
              <nb-select placeholder="Selecione Funcão"  style="width: 22em" id="funcao" formControlName="funcao">
                <nb-option [value]="descricao.value" *ngFor="let descricao of selectFuncao"> {{descricao.funcao}}</nb-option>
              </nb-select>
            </div>
            <br>
            <nb-card-footer>
              <button nbButton  status="danger" nbStepperPrevious >Voltar</button>
              <button class="btn-action-modal" nbButton status="primary" nbStepperNext>Seguinte</button>
            </nb-card-footer>
          <!--
            <button nbButton nbStepperPrevious>voltar</button>
            <button nbButton nbStepperNext>seguinte</button>
          -->
          </form>
        </nb-step>
  
                            <!-- Dados Contactos-->
        <nb-step [stepControl]="thirdForm" label="Contactos">
          <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
  
            <label for="inputFirstName">Contacto</label>
            <div class="input-group">
              <input nbInput type="text" placeholder="Introduza o contactos (obrigatório)" class="form-control" id="contacto" formControlName="contacto"
                    >
            </div>
            <br>
            <label for="inputFirstName">Email</label>
            <div class="input-group">
              <input nbInput type="text" placeholder="Introduza o email" class="form-control" id="email" formControlName="email"
                    >
            </div>
            <br>
            <div class="input-group">
              <textarea nbInput fullWidth placeholder="Observações" id="obs" formControlName="obs" class="form-control" ></textarea>
             
            </div>
            <br>
            <nb-card-footer>
              <button nbButton  status="danger" nbStepperPrevious >Voltar</button>
              <button class="btn-action-modal" nbButton status="primary" nbStepperNext>Seguinte</button>
            </nb-card-footer>
          </form>
        </nb-step>
  
                             <!-- Dados de Armamento-->
                             <nb-step [stepControl]="fortForm" label="Armamento">
                              <form [formGroup]="fortForm" (ngSubmit)="onFortFormSubmit()" class="step-container">
                      
                                <label for="inputFirstName">Numero de Arma</label>
                                <div class="input-group">
                                  <input nbInput type="number" placeholder="Introduza o numero de Arma (obrigatório)" class="form-control" id="n_arma" formControlName="n_arma"
                                        >
                                </div>
                                <br>
                                <label for="inputFirstName">Marca</label>
                                <div class="input-group">
                                  <input nbInput type="text" placeholder="Introduza a marca" class="form-control" id="marca" formControlName="marca"
                                        >
                                </div>
                                <br>
                                <label for="inputFirstName">Modelo</label>
                                <div class="input-group">
                                  <input nbInput type="text" placeholder="Introduza o modelo" class="form-control" id="modelo" formControlName="modelo"
                                        >
                                </div>
                                <br>
                                <br>
                                <label for="inputFirstName">Calibre</label>
                                <div class="input-group">
                                  <input nbInput type="text" placeholder="Introduza o calibre" class="form-control" id="calibre" formControlName="calibre"
                                        >
                                </div>
                                <br>
                                <label for="inputFirstName">Quantidade de Carregador</label>
                                <div class="input-group">
                                  <input nbInput type="text" placeholder="Introduza Calibre" class="form-control" style="width: 15em;" id="n_carregador" formControlName="n_carregador"
                                        >
                                </div>
                                <br>
                                <label for="inputFirstName">Quantidade de Munições</label>
                                <div class="input-group">
                                  <input nbInput type="number" placeholder="Introduza quantidade de municoes" class="form-control" style="width: 15em;" id="n_municoes" formControlName="n_municoes"
                                        >
                                </div>
                                <!--
                                <br>
                                <label for="inputFirstName">Estado da Arma</label>
                                <div class="input-group">
                                  <input nbInput type="text" placeholder="Introduza  estado de arma" class="form-control" id="estado_arma" formControlName="estado_arma"
                                        >
                                </div>
                              -->
                              <br>
                                <nb-card-footer>
                                  <button nbButton  status="danger" nbStepperPrevious >Voltar</button>
                                  <button class="btn-action-modal" nbButton status="primary" nbStepperNext>Seguinte</button>
                                </nb-card-footer>
                              </form>
                            </nb-step>
  
                            <!-- Finalização do Cadastro-->
        <nb-step [stepControl]="thirdForm" [hidden]="true" label="Finalizado">
          <div class="step-container">
            <div class="input-group">
            <h2>Para concluir o cadastro do efectivo clica em salvar</h2>
  <br><br>
          </div>
  <!--
            <button nbButton (click)="stepper.reset()">Cancelar</button>
            <button  nbButton status="primary" (click)="onSaveCarta($event)">Salvar</button>
  -->
          </div>
          <nb-card-footer>
            <button nbButton  status="danger" nbStepperPrevious  (click)="stepper.reset()">Cancelar</button>
            <button class="btn-action-modal" nbButton status="primary" nbStepperNext (click)="btnSave($event)">Salvar</button>
          </nb-card-footer>
        </nb-step>
  
      </nb-stepper>
    </nb-card-body>
  </nb-card>
   </ng-template>
  
  <!--
    <ng-template #dialogEfectivo   >
      <nb-card style="width: 75em" >
        <nb-card-body>
          <button class="linear-mode-button"
                  nbButton
                  (click)="toggleLinearMode()">
            {{ linearMode ? 'Disable' : 'Enable' }} linear mode
          </button>
      
          <nb-stepper #stepper [linear]="linearMode">
      
            <nb-step [stepControl]="formEfectivo" label="Dados Pessoais">
              <form  #formEfectivo="ngForm" class="step-container">
                <div class="input-group">
                  <input type="text"
                         placeholder="Introduza o nome"
                         class="form-control"
                         name="nome"
                         required
                         nbInput
                         ngModel
                         #name="ngModel"
                        >
                </div>
                <br>
                <div class="input-group">
                  <input type="text"
                         placeholder="Introduza o apelido"
                         class="form-control"
                         name="apelido"
                         required
                         nbInput
                         ngModel
                         #name="ngModel"
                        >
                </div>
                <br>
                <div class="input-group">
                  <input type="text"
                         placeholder="Introduza filiacao"
                         class="form-control"
                         name="filiacao"
                         required
                         nbInput
                         ngModel
                         #name="ngModel"
                        >
                </div>
                <br>
                <div class="input-group">
                  <input type="text"
                         placeholder="Introduza morada"
                         class="form-control"
                         name="morada"
                         required
                         nbInput
                         ngModel
                         #name="ngModel"
                        >
                </div>
                <br>
                <div class="input-group">
                  <input type="text"
                         placeholder="Introduza data nascimento"
                         class="form-control"
                         name="data_nasc"
                         required
                         nbInput
                         ngModel
                         #name="ngModel"
                        >
                </div>
                <br>
                <div class="input-group">
                  <input type="text"
                         placeholder="Introduza CNI"
                         class="form-control"
                         name="cni"
                         required
                         nbInput
                         ngModel
                         #name="ngModel"
                        >
                </div>
                <br>
                <button nbButton nbStepperNext status="primary">Seguinte</button>
              </form>
            </nb-step>
      
            <nb-step [stepControl]="formEfectivo" label="Dados profissional ">
              <form  #formEfectivo="ngForm" class="step-container">
                <div class="input-group">
                  <input type="number"
                         placeholder="Introduza o nº ID"
                         class="form-control"
                         name="ID"
                         required
                         nbInput
                         ngModel
                         #name="ngModel"
                        >
                </div>
                <br>
                <div class="input-group">
                  <input type="text"
                         placeholder="Introduza o posto"
                         class="form-control"
                         name="posto"
                         required
                         nbInput
                         ngModel
                         #name="ngModel"
                        >
                </div>
                <br>
                <div class="input-group">
                  <input type="text"
                         placeholder="Introduza o "
                         class="form-control"
                         name="função"
                         required
                         nbInput
                         ngModel
                         #name="ngModel"
                        >
                </div>
                <br>
                
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </form>
            </nb-step>
      
            <nb-step [stepControl]="formEfectivo" label="Contacto">
              <form #formEfectivo="ngForm" class="step-container">
                <div class="input-group">
                  <input type="text"
                         placeholder="Introduza o "
                         class="form-control"
                         name="email"
                         required
                         nbInput
                         ngModel
                         #name="ngModel"
                        >
                </div>
                <br>
                <div class="input-group">
                  <input type="text"
                         placeholder="Introduza o nº telemovel"
                         class="form-control"
                         name="telemovel"
                         required
                         nbInput
                         ngModel
                         #name="ngModel"
                        >
                </div>
             
               
                <br>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </form>
            </nb-step>
      
            <nb-step [hidden]="true">
              <div class="step-container">
                <h3>Wizard completed!</h3>
                <button nbButton (click)="stepper.reset()">Try again</button>
                <button  nbButton status="primary" (click)="onSaveCarta($event)">Salvar</button>
              </div>
            </nb-step>
          </nb-stepper>
        </nb-card-body>
      </nb-card> </ng-template>
    -->