<nb-card>
    <nb-card-header>
      Cadastro de Carta de Titulo e Livrte
    </nb-card-header>  
  
    <nb-card-body>
        <button style="margin-bottom: 1rem;" nbButton status="primary" (click)="openModalDoc(null)">Novo Cadastro</button>   
        <ng2-smart-table #ng2TbTask 
          [settings]="tbUserConfig" 
          [source]="source" 
          (edit)="openModalDoc($event)" 
          (delete)="openModalExclusion($event)">          
        </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  
  
  <ng-template #dialogUser let-data let-ref="dialogRef">
    <nb-card style="width: 25em">
      <nb-card-header>Novo cadastro de Titulo e Livrete</nb-card-header>
      <nb-card-body>
        <form [formGroup]="formTlivrete" autocomplete="off">
<!--
          <label for="status">Tipo *</label>
         
            <nb-select class="w-100" formControlName="status">
              <option value="" disabled>Choose a state</option>
              <nb-option *ngFor="let status of selecttipodoc" [value]="status.value">
                {{status.tipodoc}}
              </nb-option>
            </nb-select>
          -->
          <div class="form-group">
            <label for="matricula">Matricula *</label>
            <input class="form-control" id="matricula" formControlName="matricula">
          </div>  
  
          <div class="form-group">
            <label for="proprietario">propriedade *</label>
            <input id="proprietario" class="form-control" formControlName="proprietario">
          </div>

          <div class="form-group">
            <label for="motivo">Motivo de Apreensão*</label>
            <input id="motivo" class="form-control" formControlName="motivo">
          </div>

          <div class="form-group" >
            <label for="data_apreensao">Data Apreensão</label>
            <input id="data_apreensao" type="date" class="form-control" formControlName="data_apreensao" >
          </div>

          <div class="form-group" >
            <label for="data_apreensao">Observações</label>
            <textarea class="form-control"  formControlName="obs" id="obs" type="obs" nbInput placeholder="Escrever Observações" >
            </textarea>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>        
        <button nbButton (click)="ref.close()">Cancelar</button>
        <button class="btn-action-modal" nbButton status="primary" (click)="onSaveCarta($event)">Salvar</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>