<nb-card>
    <nb-card-header>
      Cadastro de Carta de Condução Apreendido
    </nb-card-header>  
  
    <nb-card-body>
        <button style="margin-bottom: 1rem;" nbButton status="primary" (click)="openModalDoc(null)">Novo Cadastro</button>   
        <ng2-smart-table #ng2TbCarta 
          [settings]="tbUserConfig" 
          [source]="source" 
          (edit)="openModalDoc($event)" 
          (delete)="openModalExclusion($event)">          
        </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  
  
  <ng-template #dialogUser let-data let-ref="dialogRef">
    <nb-card style="width: 25em">
      <nb-card-header>Novo cadastro de Carta de Condução</nb-card-header>
      <nb-card-body>
        <form [formGroup]="formUser" autocomplete="off">
       <!--
          <label for="status">Tipo *</label>
    
            <nb-select class="w-100" formControlName="status">
              <option value="" disabled>Choose a state</option>
              <nb-option *ngFor="let status of selecttipodoc" [value]="status.value">
                {{status.tipodoc}}
              </nb-option>
            </nb-select>
          -->

          <div class="form-group">
            <label for="n_carta">Numero de Carta *</label>
            <input class="form-control" id="n_carta" formControlName="n_carta">
          </div>  
  
          <div class="form-group">
            <label for="condutor">Nome de Condutor*</label>
            <input id="condutor" type="condutor" class="form-control" formControlName="condutor">
          </div>
  
          <div class="form-group">
            <label for="motivo">Motivo de Apreensão *</label>
            <input id="motivo" type="motivo" class="form-control" formControlName="motivo">
          </div>

          <div class="form-group" >
            <label for="motivo">Data Apreensão</label>
            <input id="motivo" class="form-control" formControlName="motivo" >
          </div>
         
     
<!--
          <div class="form-group" >
            <label for="cap">Numero de CAP</label>
            <input id="cap" class="form-control" formControlName="cap" disabled >
          </div>
          <div class="form-group" >
          <nb-checkbox status="basic">Tem CAP Apreendido?</nb-checkbox>
        </div>
      <nb-checkbox indeterminate #checkbox>Indeterminate</nb-checkbox>

        <button *ngIf="!checkbox.indeterminate" nbButton size="small" (click)="checkbox.indeterminate = true">
          Set indeterminate
        </button>


        <nb-checkbox status="basic" indeterminate #checkbox >Selecionar caso tem CAP apreendido?</nb-checkbox>
       
       <input id="cap" class="form-control" formControlName="cap" *ngIf="!checkbox.indeterminate" nbButton size="small"   >

-->
       <div *ngFor="let item of opCap">
       <nb-checkbox status="basic" 
        type="checkbox"
        [checked]="item.selecionado"
        (change)="item.selecionado = $event.target.checked" 
         >{{item.label}}
        </nb-checkbox>
        </div>

  <label></label>

       <ng-container *ngFor="let item of opCap">
       <div *ngIf="!item.selecionado">
       <label for="cap">Introduza o Numero de CAP</label>
       <input class="form-control" formControlName="cap" id="cap" type="cap"
        [checked]="item.selecionado"
        (change)="item.selecionado = $event.target.checked" /> 
        </div>
        </ng-container>
    <label></label>
        </form>

      </nb-card-body>
      <nb-card-footer>        
        <button nbButton (click)="ref.close()">Cancelar</button>
        <button class="btn-action-modal" nbButton status="primary" >Salvar</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>