
<nb-card accent="info">
  <nb-card-header>
    Cadastros das Salas</nb-card-header>

  <nb-card-body>
    <button style="margin-bottom: 1rem;" nbButton status="primary" (click)="openModalFrom(null)">Novo Cadastro</button>
    <ng2-smart-table #ng2TbSmart 
    [settings]="tbEmployeConfig" 
    [source]="source"
    (edit)="openModalEdit($event)" 
    (delete)="openModalExclusion($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #dialogForm let-data let-ref="dialogRef">
  <nb-card style="width: 25em">
    <nb-card-header >{{ findOperation() }} Sala</nb-card-header>
    <nb-card-body>
      <form [formGroup]="formSave" autocomplete="true">
        <!--
        <div class="form-group">
        <label for="dmTypeUser">Tipo de Funcionario</label>
        <nb-select class="w-100" id="dmTypeUser" formControlName="dmTypeUser" placeholder="Escolha o tipo de Funcionario" [(selected)]="selectedItem01">
         <nb-option [value]="tipo.value" *ngFor="let tipo of requesListbrand"> {{tipo.name}}</nb-option>
        </nb-select>
        </div> 
      -->

      <div class="form-group">
        <label for="name">Introduza o Nome</label>
        <input class="form-control" type="text" id="name" formControlName="name" value placeholder="Nome">
      </div>

      <div class="form-group">
        <label for="number">Introduza o Numero</label>
        <input class="form-control" type="text" id="number" formControlName="number" value placeholder="Numero">
      </div>

      

        <div class="form-group">
          <label> Introduza o Piso</label>
          <select class="form-control" formControlName="dmPiso" id="dmPiso">
            <option *ngFor="let dado of requesListPiso" [value]="dado.name" placeholder="Piso" >
              {{ dado.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Introduza Divisão</label>
          <select class="form-control" formControlName="dmDivision" id="dmDivision">
            <option *ngFor="let dado of requesListPiso" [value]="dado.name" placeholder="Escolha o tipo Divisão" >
              {{ dado.name }}
            </option>
          </select>
        </div>
      
        <div class="form-group">
          <label for="contactPhone">Introduza Contacto</label>
          <input class="form-control" type="text" id="contactPhone" formControlName="contactPhone" value placeholder="Numro telefone">
        </div>

       
  <!-- 
        <div class="form-group">
          <label for="data_apreensao">Observações</label>
          <textarea class="form-control" formControlName="obs" id="obs" type="obs" nbInput
            placeholder="Escrever Observações">
          </textarea>
        </div>

      
        
     <div *ngFor="let item of opCap">
     <nb-checkbox status="basic" type="checkbox" [checked]="item.selecionado" (change)="item.selecionado = $event.target.checked"> {{item.label}} </nb-checkbox>
     </div>

     <label></label>

     <ng-container *ngFor="let item of opCap">
     <div *ngIf="!item.selecionado">        
     <textarea class="form-control"  formControlName="obs" id="obs" type="obs" nbInput placeholder="Escrever Observações" 
     [checked]="item.selecionado" (change)="item.selecionado = $event.target.checked">
     </textarea>
    </div>
      </ng-container>
    -->

      </form>

    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="ref.close()">Cancelar</button>
      <button class="btn-action-modal" nbButton status="primary" (click)="btnSave($event)">Salvar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogDelete let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>ELIMINAR FUNCIONARIO</nb-card-header>
    <nb-card-body>
      Tens certeza que deseja excluir Funcionario <span style="font-weight: bold">{{ data }}</span> ?
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="ref.close()">Cancelar</button>
      <button class="btn-action-modal" nbButton status="primary" (click)="btnDelete($event);">Excluir</button>
    </nb-card-footer>
  </nb-card>
</ng-template>