

<div class="row mb-2">
  <div class="col-lg-12">
    <button (click)="addNewRecolha()" nbButton type="submit" class="btn-action-modal"  status="primary"
      style="background-color: #2360db">
      Novo Equipamento
    </button>
  </div>
</div>

<data-equipment-search></data-equipment-search>

<form [formGroup]="formEquip" autocomplete="true">
<ng-template #dialogEquip let-data let-ref="dialogRef">
  <nb-card class="template">
    <nb-card-header>Novo Equipamento</nb-card-header>

    <nb-card-body>
      
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label for="name">Nome de Equipamento</label>
              <input class="form-control" type="text" id="name" formControlName="name" value placeholder="Nome" >
            </div>
          </div>

          <div class="col-sm-5">
            <div class="form-group">
              <label>Tipo de Equipamento</label>
              <select class="form-control" formControlName="idEquipmentType">
                <option value=""></option>
                <option *ngFor="let dado of requestype" [value]="dado.id" placeholder="Tipo Equipamento">
                  {{ dado.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label>Marca</label>
              <select class="form-control" formControlName="brand">
                <option value=""></option>
                <option *ngFor="let dado of requesListbrand" [value]="dado.id" placeholder="Escolha  a Marca">
                  {{ dado.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="form-group">
              <label for="model">Modelo</label>
              <input id="model" type="text" class="form-control" formControlName="model" placeholder="">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label for="rom">Memoria ROM</label>
              <input id="rom" type="text" class="form-control" formControlName="rom" placeholder="">
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <label for="ram">Memoria RAM</label>
              <input id="ram" type="text" class="form-control" formControlName="ram" placeholder="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label for="processor">Processador</label>
              <input id="processor" type="text" class="form-control" formControlName="processor"
                placeholder="">
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <label for="velocity">Velocidade de Processador</label>
              <input id="velocity" type="text" class="form-control" formControlName="velocity"
                placeholder=" ">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label for="systemType">Tipo de Sistema</label>
              <input id="systemType" type="text" class="form-control" formControlName="systemType"
                placeholder=" ">
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <label for="generation">Geração de PC</label>
              <input id="generation" type="text" class="form-control" formControlName="generation" placeholder="">
            </div>
          </div>
        </div>
       
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label for="serialNumber">Numero de Serie</label>
              <input id="serialNumber" type="text" class="form-control" formControlName="serialNumber" placeholder="">
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <label for="screen">Tamanho de Tela</label>
              <input id="screen" type="text" class="form-control" formControlName="screen" placeholder="">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label>Sala</label>
              <select class="form-control" formControlName="idLivingRoom">
                <option value=""></option>
                <option *ngFor="let dado of requesLivings" [value]="dado.id" placeholder="Escolha  a Sala">
                  {{ dado.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <label>Funcionario</label>
              <select class="form-control" formControlName="idEmployee">
                <option value=""></option>
                <option *ngFor="let dado of requesListEmploye" [value]="dado.id" placeholder="Escolha Funcionario">
                  {{ dado.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="dmStateEquip">Estado de Equipamento</label>
              <input id="dmStateEquip" type="text" class="form-control" formControlName="dmStateEquip" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
          <div class="form-group">
            <label for="data_apreensao">Observações</label>
            <textarea class="form-control" formControlName="obs" id="obs" type="text" nbInput
              placeholder="Escrever Observações" style="width: 36em;">
            </textarea>
          </div>
          </div>
        </div>


    </nb-card-body>
     <nb-card-footer style="width: 45em;">
      <button nbButton status="danger" (click)="ref.close()">Cancelar</button>
      <button class="btn-action-modal" nbButton status="primary" (click)="onSaveCarta($event)">Salvar</button>
    </nb-card-footer>
  </nb-card>
</ng-template></form>

<!--
<data-equipment-search>
  (searchFormEvent)="searchResult($event)"
  (loadingSearchEvent)="loadingResult($event)"
</data-equipment-search>


      <nb-card size="medium">
            <nb-card-body>
              <nb-select placeholder="Select Groups">
          
                <nb-option-group title="Group 1">
                  <nb-option value="1">Option 1</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                  <nb-option value="3">Option 3</nb-option>
                  <nb-option value="4">Option 4</nb-option>
                </nb-option-group>
          
                <nb-option-group title="Group 2">
                  <nb-option value="21">Option 21</nb-option>
                  <nb-option value="22">Option 22</nb-option>
                  <nb-option value="23">Option 23</nb-option>
                  <nb-option value="24">Option 24</nb-option>
                </nb-option-group>
          
                <nb-option-group title="Group 3">
                  <nb-option value="31">Option 31</nb-option>
                  <nb-option value="32">Option 32</nb-option>
                  <nb-option value="33">Option 33</nb-option>
                  <nb-option value="34">Option 34</nb-option>
                </nb-option-group>
          
              </nb-select>
            </nb-card-body>
          </nb-card>
-->