
<nb-card accent="info">
    <nb-card-header>
      Cadastros dos Armamentos </nb-card-header>  
  
    <nb-card-body>
        <button style="margin-bottom: 1rem;" nbButton status="primary" (click)="openModalDoc(null)">Novo Cadastro</button>   
        <ng2-smart-table #ng2TbArma 
          [settings]="tbArmaConfig" 
          [source]="source" 
          (edit)="openModalEdiDoc($event)" 
          (delete)="openModalExclusion($event)">          
        </ng2-smart-table>
    </nb-card-body>
 </nb-card>

  <ng-template #dialogArma let-data let-ref="dialogRef">
    <nb-card class="template">
      <nb-card-header>{{ findOperation() }} de Arma</nb-card-header>
      <nb-card-body>
        <form [formGroup]="formArma" autocomplete="true">
    
          <div class="form-group">
            <label for="numero">Introduza o numero de Arma *</label>
    
            <input class="form-control" id="numero" type="number" formControlName="numero" value placeholder="Nº de Arma">
          </div>  
  
          <div class="form-group">
            <label for="marca">Marca da Arma</label>
            <input id="marca" type="text" class="form-control" formControlName="marca" placeholder="Marca">
          </div>
  
          <div class="form-group">
            <label for="modelo">Modelo</label>
            <input id="modelo" type="text" class="form-control" formControlName="modelo" placeholder="Modelo">
          </div>

          <div class="form-group" >
            <label for="calibre">Calibre</label>
            <input id="calibre" type="text" class="form-control" formControlName="calibre"  >
          </div>

          <div class="form-group" >
            <label for="n_carregador">Nº de Carregador</label>
            <input id="n_carregador" type="number" class="form-control" formControlName="n_carregador"  >
          </div>

          <div class="form-group" >
            <label for="n_municoes">Nº de Municoes</label>
            <input id="n_municoes" type="number" class="form-control" formControlName="n_municoes"  >
          </div>

          <div class="form-group" >
            <label for="id_agente">Nome do agente</label>
           <!-- <input id="agente" type="number" class="form-control" formControlName="agente"  > -->
            <nb-select placeholder="Selecione nome do Agente" [(selected)]="selectedItem"  style="width: 22em"  id="id_agente" formControlName="id_agente">
              <nb-option [value]="nomes.idagente" *ngFor="let nomes of efectivocList"> {{nomes.nome}}</nb-option>
            </nb-select>
          </div>

          <div class="form-group" >
            <label for="estado">Estado da Arma</label>
            <input id="estado" type="text" class="form-control" formControlName="estado"  >
          </div>

          <div class="form-group" >
            <label for="data_apreensao">Observações</label>
            <textarea class="form-control"  formControlName="obs" id="obs" type="obs" nbInput placeholder="Escrever Observações" >
            </textarea>
          </div>

    
        </form>

      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" (click)="ref.close()">Cancelar</button>
        <button class="btn-action-modal" nbButton status="primary" (click)="btnSave($event)">Salvar</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>

  <ng-template #dialogDelete let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>ELIMINAR ARMA</nb-card-header>
      <nb-card-body>
        Tens certeza que deseja excluir Arma nº <span style="font-weight: bold">{{ data }}</span>  ?  
      </nb-card-body>
      <nb-card-footer>
        <button nbButton  status="danger" (click)="ref.close()">Cancelar</button>
        <button class="btn-action-modal" nbButton status="primary" (click)="btnDelete($event);">Excluir</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>

 
