
<nb-card accent="info">
    <nb-card-header>
      Cadastros Inspecao das Armamentos </nb-card-header>  
    <nb-card-body>  
        <ng2-smart-table #ng2TbArma 
          [settings]="tbArmaConfig" 
          [source]="source" 
           (edit)="openModalEdiDoc($event)" 
      >          
        </ng2-smart-table>
    </nb-card-body>
 </nb-card>


  <ng-template #dialogArma let-data let-ref="dialogRef">
    <nb-card class="template">
      <nb-card-header>Registar Inspecao da Arma do Efectivo </nb-card-header>
      <nb-card-body>
        <form [formGroup]="formArma" autocomplete="true">
    <!-- 
          <label for="id_agente">Arma do Efectivo</label>
          <div class="form-group" >
           <input id="agente" type="number" class="form-control" formControlName="agente"  > 
            <nb-select placeholder="Selecione nome do Efectivo" [(selected)]="selectedItem"  style="width: 22em"  id="id_agente" formControlName="id_agente" disabled>
              <nb-option [value]="nomes.idagente" *ngFor="let nomes of efectivocList" > {{nomes.nome}} {{nomes.apelido}}</nb-option>
            </nb-select>
          </div>

          <div class="form-group">
            <label for="numero">Arma Numero </label>
            <input class="form-control" id="numero" type="number" formControlName="numero"  placeholder="Nº de Arma" disabled>
          </div>  
  
          <div class="form-group">
            <label for="marca">Marca da Arma</label>
            <input id="marca" type="text" class="form-control" formControlName="marca" placeholder="Marca" disabled>
          </div>
  
          <div class="form-group">
            <label for="modelo">Modelo</label>
            <input id="modelo" type="text" class="form-control" formControlName="modelo" placeholder="Modelo" disabled>
          </div>

          <div class="form-group" >
            <label for="calibre">Calibre</label>
            <input id="calibre" type="text" class="form-control" formControlName="calibre" disabled >
          </div>
        -->
           <div class="form-group" >
           <label for="data_inspeArma">Data de Inspecao</label>
           <input id="data_inspeArma" type="date" class="form-control" formControlName="data_inspeArma"  >
           </div>

          <div class="form-group" >
            <label for="n_carregador">Nº de Carregador</label>
            <input id="n_carregador" type="number" class="form-control" formControlName="n_carregador"  >
          </div>

          <div class="form-group" >
            <label for="n_municoes">Nº de Municoes</label>
            <input id="n_municoes" type="number" class="form-control" formControlName="n_municoes"  >
          </div>
     
          <div class="form-group" >
            <label for="estado_arma">Estado da Arma</label>
            <input id="estado_arma" type="text" class="form-control" formControlName="estado_arma"  >
          </div>

          <div class="form-group" >
            <label for="data_apreensao">Observações</label>
            <textarea class="form-control"  formControlName="obs" id="obs" type="text" nbInput placeholder="Escrever Observações" >
            </textarea>
          </div>
        
    
        </form>
      
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" (click)="ref.close()">Cancelar</button>
        <button class="btn-action-modal" nbButton status="primary" (click)="editDoc($event)">Salvar</button>
      </nb-card-footer>
    </nb-card>
 
  </ng-template>

  <ng-template #dialogDelete let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>ELIMINAR ARMA</nb-card-header>
      <nb-card-body>
        Tens certeza que deseja excluir Arma do efectivo <span style="font-weight: bold">{{ data }}</span>  ?  
      </nb-card-body>
      <nb-card-footer>
        <button nbButton  status="danger" (click)="ref.close()">Cancelar</button>
        <button class="btn-action-modal" nbButton status="primary" (click)="btnDelete($event);">Excluir</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>

 
